@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

:root {
  --primary-color: #ff2200;
  --secondary-color: #ffcc00;
}

body {
  font-family: 'East Sea Dokdo', cursive;
  background-color: var(--primary-color);
  background: url(wall4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--secondary-color);
}

/* Navigation */
.navigation {
  font-size: 1.8cm;
  font-weight: bolder;
  color: var(--secondary-color);
  margin: -0.5rem;
  margin-bottom: 2cm;
  text-align: center;
}

/* text area sty */
.sty {
  background-image: url(wall4.jpg);
  color: var(--secondary-color);
  font-family: 'Architects Daughter', cursive;
  font-size: 0.8cm;
  font-weight: bolder;
}

/* input text */
#ip {
  width: 482px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  border-color: var(--secondary-color );
  border-style: groove;
  border-radius: 2mm;
  margin-bottom: 2cm;
  font-size: 0.475cm;
}

::placeholder {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Architects Daughter', cursive;
  font-size: 0.8cm;
  font-weight: bolder;
}


/* Translate button */
#btn-translate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  margin-bottom: 1.5cm;
  background-image: url(wall4.jpg);
  color: var(--secondary-color);
}

/* Output */
#op {
  width: 482px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  border-color: var(--secondary-color );
  border-style: groove;
  border-radius: 2mm;
  font-size: 0.475cm;
}